@import "colorsheet";

.text-color {
  color: $primary-color;
}

.bg-color {
  background-color: $secondary-color;
}

#store-link {
  color: black;
  font-weight: bold;
}

.card:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.card-header {
  color: white !important;
  background-color: $primary-color !important;
}