<h1 class="d-flex justify-content-center p-4">Create Category</h1>
<%= render partial: 'form', locals: { category: @category, form_url: categories_path, form_method: :post, submit_button_label: "Create Category" } %>
